# Enable URL rewriting
RewriteEngine On

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Set the default index file
DirectoryIndex index.php

# Deny access to .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Deny access to sensitive files
<FilesMatch "\.(env|ini|log|sh|sql|bak)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]